th {
    padding: 8px 19px !important;
}
.bg-olive2{
    background-color: #b31e22;!important;
    color: #fff;
    border: 0 solid #b31e22;
    padding: 2px 7px;
}

.btn-df2{
    background-color: #b31e22;!important;
    color: #fff;
}
.bg-olive2 .btn-df2:hover{
    color: wheat;
}
.right-bread{
    width: auto;
    line-height: 0;
}
.form-update{
    margin: 20px 3px;

}
.form-sm-update{
    margin-top: 25px;
    margin-bottom: 25px;
    height: auto;
    width: auto;
}
.bread-style{
    border-bottom:2px solid #b31e22;
}
